<!DOCTYPE html>
<html>
<head>
    <title>Quiz Kubernetes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Bonne réponse!</h2>
    <a href="/" class="correct-button">Question suivante</a>
</body>
</html>
